html, body, div, span, h1, p {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #eee;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1;
  color: #585858;
  padding: 22px 10px;
  padding-bottom: 55px;
}

textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-family: Arial;
  font-weight: bold;
  font-size: 3.6em;
  line-height: 1.7em;
  margin-bottom: 10px;
  text-align: center;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.wrapper .nav {
  width: 250px;
  background: #fff;
  padding: 10px 17px;
  -webkit-box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.35);
          box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.35);
  margin-right: 5px;
}

.wrapper .nav form {
  font-family: "Roboto", sans-serif;
  outline: 0;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  text-align: left;
}

.wrapper .nav form p {
  margin-bottom: 10px;
}

.wrapper .nav form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  border: 0;
  margin: 0 0 15px;
  padding: 5px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
}

.wrapper .nav form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #29a2ff;
  margin-top: 5px;
  border: 0;
  padding: 5px 10px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.wrapper .nav .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .nav .pagination .left, .wrapper .nav .pagination .right, .wrapper .nav .pagination .row-elem {
  background-color: #a7d5f8;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.wrapper .nav .pagination .left:hover, .wrapper .nav .pagination .right:hover, .wrapper .nav .pagination .row-elem:hover {
  color: #29a2ff;
  font-size: 16px;
}

.wrapper .nav .pagination .box {
  width: 140px;
  overflow: hidden;
  position: relative;
  background-color: #a7d5f8;
}

.wrapper .nav .pagination .row {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .nav .pagination .row .active {
  font-size: 16px;
  color: white;
}

.wrapper .loader {
  width: 400px;
  height: 250px;
  background: #fff;
  padding: 10px 17px;
  -webkit-box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.35);
          box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.35);
  margin: 5px;
  position: relative;
}

.wrapper .loader h1 {
  font-size: 26px;
}

.wrapper .loader button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #29a2ff;
  margin: 5px;
  border: 0;
  padding: 5px 10px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.list {
  background: #fff;
  padding: 10px 17px;
  -webkit-box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.35);
          box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.35);
}

.main-table {
  font-size: 1.2em;
  margin-bottom: 15px;
}

.stnd:nth-of-type(even) {
  background-color: #a7d5f8;
}

.stnd:hover {
  background-color: #e7f0c9;
  cursor: pointer;
}

.main-table thead {
  cursor: pointer;
  background: #29a2ff;
  color: white;
}

.main-table thead tr th {
  font-weight: bold;
  padding: 12px 30px;
  padding-left: 42px;
}

.main-table thead tr th span {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.main-table tbody tr {
  color: #555;
}

tr td {
  text-align: center;
  padding: 7px 10px;
}

.description {
  width: 100%;
  height: 200px;
}

.description p {
  margin: 5px;
}

.description td {
  text-align: left;
}

.description td textarea {
  width: 260px;
  height: 70px;
}

.description td img {
  width: 150px;
  height: 150px;
}

.close button {
  border: 0;
  padding: 5px 10px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  background: #29a2ff;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  overflow: hidden;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.item-1 {
  width: 20px;
  height: 20px;
  background: #f583a1;
  border-radius: 50%;
  background-color: #68d9ad;
  margin: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50%,
  75% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
  78%, 100% {
    opacity: 0;
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50%,
  75% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
  78%, 100% {
    opacity: 0;
  }
}

.item-1:before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #68d9ad;
  opacity: 0.7;
  -webkit-animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
          animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.item-2 {
  width: 20px;
  height: 20px;
  background: #f583a1;
  border-radius: 50%;
  background-color: #68cead;
  margin: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50%,
  75% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
  78%, 100% {
    opacity: 0;
  }
}

.item-2:before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #68cead;
  opacity: 0.7;
  -webkit-animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
          animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.item-3 {
  width: 20px;
  height: 20px;
  background: #f583a1;
  border-radius: 50%;
  background-color: #68c3ad;
  margin: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50%,
  75% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
  78%, 100% {
    opacity: 0;
  }
}

.item-3:before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #68c3ad;
  opacity: 0.7;
  -webkit-animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
          animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.item-4 {
  width: 20px;
  height: 20px;
  background: #f583a1;
  border-radius: 50%;
  background-color: #68adad;
  margin: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50%,
  75% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
  78%, 100% {
    opacity: 0;
  }
}

.item-4:before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #68adad;
  opacity: 0.7;
  -webkit-animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
          animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.item-5 {
  width: 20px;
  height: 20px;
  background: #f583a1;
  border-radius: 50%;
  background-color: #688cad;
  margin: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50%,
  75% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
  78%, 100% {
    opacity: 0;
  }
}

.item-5:before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #688cad;
  opacity: 0.7;
  -webkit-animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
          animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  -webkit-transform: scale(1);
          transform: scale(1);
}
/*# sourceMappingURL=App.css.map */